/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-right: linear-gradient(90deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-bottom: linear-gradient(180deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-left: linear-gradient(270deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-top-right: linear-gradient(45deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-bottom-right: linear-gradient(135deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-top-left: linear-gradient(225deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-bottom-left: linear-gradient(315deg, #dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-radial: radial-gradient(#dbf4adff, #a9e190ff, #cdc776ff, #a5aa52ff, #767522ff);
$gradient-radial-alt: radial-gradient(#dbf4adff, #cdc776ff, #a5aa52ff, #767522ff);

// Typography

$base-font-size: 16px;
$line-height: 1.5;
$leading: $base-font-size * $line-height;
$font-family: 'Amatic SC', cursive;


// Colors

$tea-green: rgba(219, 244, 173, 1);
$tea-green-lighter: rgba(219, 244, 173, 0.3);
$tea-green-darker: rgba(219, 244, 173, 0.8);
$granny-smith-apple: rgba(169, 225, 144, 1);
$dark-khaki: rgba(205, 199, 118, 1);
$olive-green: rgba(165, 170, 82, 1);
$spanish-bistre: rgba(118, 117, 34, 1);
$shadow: rgb(18, 18, 5);
$shadow-lighter: rgb(18, 18, 5, 0.5);

// General Rules

    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        background-color: $olive-green;
        background-image: $gradient-radial-alt;
        font-size: $base-font-size;
    }

    body {
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        line-height: $line-height;
        font-family: $font-family;
    }

    .title {
        color: $shadow;
        text-align: center;
        font-size: 3 * $base-font-size;
        font-family: $font-family;
        font-weight: 700;
        line-height: 2 * $leading;
        margin-top: 3 * $leading;
        margin-bottom: $leading;
    }

    // Carousel

    .carousel {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        place-items: center;
        grid-auto-flow: row;
    }
    
    .slide {
        margin: 0 auto;
        padding: 0;
    }
    
    .slide-img {
        max-height: 250px;
        margin: 0 auto;
        border-radius: 32px;
        outline: $olive-green solid 2px;
        outline-offset: -1rem;
        filter: drop-shadow(0 0 0.444rem $shadow-lighter);
    }

    // Arrow buttons

    .btn {
        width: fit-content;
        box-sizing: content-box;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        background-color: $tea-green-lighter;
        transition: all 0.3s ease-in;
    }

    .btn:hover {
        background-color: $tea-green-darker;
        transform: scale(1.1);
    }

    .btn:active {
        transform: scale(0.8);
    }

    .icon {
        opacity: 0.5;
    }

    .icon:hover {
        opacity: 0.8;
    }

    // Navigation dots

    .navigation {
        width: fit-content;
        max-height: min-content;
        margin: 0 auto;
        padding: 0;
        z-index: 10;
    }

    .navigation-list {
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        place-items: center;
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }

    .navigation-list-item {
        flex: 1;
        padding: 0.296rem;
        margin: 0.296rem;
    }

    .navigation-num {
        color: $dark-khaki;
        font-size: 2*$leading;
        font-weight: 800;
        text-shadow: 0 0 3px $shadow-lighter;
    }

    .dot {
        cursor: pointer;
        transition: all 0.3s ease-in;
    }

    .dot img {
        filter: drop-shadow(0 0 3px $shadow-lighter);
    }

    .dot:hover {
        transform: scale(1.5);
    }

    .dot:active {
        transform: scale(0.8);
    }

    // JS classes

    .slide--center {
        grid-column: 1/8;
        grid-row: 1/2;
        transform: scale(1);
        z-index: 5;
    }

    .slide--left {
        transform: scale(0.8);
        z-index: 1;
        filter: blur(5px) grayscale(20%);
    }

    .slide--right {
        transform: scale(0.8);
        filter: blur(5px) grayscale(20%);
    }

    .slide--out {
        display: none;
    }
    
    // @media rules

@media only screen 
    and (max-width: 390px) {

        .carousel {
            width: 90%;
        }

        .slide {
            width: auto;
            margin: auto;
        }

        .slide-img {
            width: 324px
        }
    }

@media only screen 
    and (max-width: 1076px) {
        
        .slide--left,
        .slide--right {
            display: none;
        }
    }

@media only screen 
    and (min-width: 681px) {

        .title {
            font-size: 3.5 * $base-font-size;
        }
        
        .slide-img {
            max-width: 450px;
            max-height: 300px;
        }

        .slide--center {
            margin: $leading auto;
            grid-column: 2/7;
            grid-row: 1/2;
        }
    }

@media only screen 
    and (min-width: 1077px) {
        
        .title {
            font-size: 4 * $base-font-size;
        }

        .carousel {
            width: 100%;
        }

        .slide--left {
            grid-column: 2/5;
            grid-row: 1/2;
        }
        
        .slide--right {
            grid-column: 4/7;
            grid-row: 1/2;
        }
    }

@media only screen 
    and (min-width: 2000px) {

        .title {
            font-size: 5 * $base-font-size;
        }

        .slide-img {
            max-height: 500px;
        }

        .navigation-list-item {
            margin: 0.296rem 1rem;
        }
    }

@media only screen 
    and (orientation: landscape) 
    and (max-height: 420px) {
        
        body {
            width: auto;
            height: 100%;
            overflow: hidden;
        }

        .title {
            font-size: 3 * $base-font-size;
            line-height: 2 * $leading;
            margin-top: 2 * $base-font-size;
            margin-bottom: $base-font-size;
        }

        .carousel {
            max-height: 210px;
        }

        .slide--center {
            margin: 0 auto;
        }

        .slide--left {
            grid-column: 2/5;
            grid-row: 1/2;
        }
        
        .slide--right {
            grid-column: 4/7;
            grid-row: 1/2;
        }

        .slide-img {
            max-height: 200px;
            max-width: 300px;
        }

        .navigation-list {
            max-height: 55px;
        }

        .icon,
        .btn {
            transform: scale(0.7);
        }

        .btn:hover {
            transform: scale(0.8);
        }

        .btn:active {
            transform: scale(0.5);
        }

        .navigation-num {
            font-size: $leading;
            text-shadow: 0 0 3px $shadow;
        }
    }